<div class='wrapper'>
  <section id="about">
    <h2>About the APS</h2>
    <p>An eminent scholarly organization of international reputation, the <a href='https://www.amphilsoc.org/' target='_blank' rel="noopener noreferrer">American Philosophical Society</a> promotes useful knowledge in the sciences and humanities through excellence in scholarly research, professional meetings, support of young scholars, publications, library resources, a museum and community outreach.</p>
  </section>
  <section id="follow">
    <h2>Follow the APS</h2>
    <ul class="icons">
      <li><a href="https://twitter.com/AmPhilSociety" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visit our Twitter" alt="Twitter"><span class="fab fa-twitter-square fa-3x"></span></a></li>
      <li><a href="https://www.facebook.com/americanphilosophicalsociety" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visit our Facebook page" alt="Facebook"><span class="fab fa-facebook-square fa-3x"></span></a></li>
      <li><a href="https://www.instagram.com/amphilsociety/" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visit our Instagram" alt="Instagram"><span class="fab fa-instagram fa-3x"></span></a></li>
      <li><a href="https://github.com/AmericanPhilosophicalSociety/" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visit our Github" alt="GitHub"><span class="fab fa-github-square fa-3x"></span></a></li>
    </ul>
  </section>
</div>
