// CSS reset - helps regulate size of elements

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  body {
    overflow-x: hidden;
    overflow-x: clip !important;
  }

// For CSS troubleshooting - highlights outlines of divs

  // * {
  //   background: #000 !important;
  //   color: #0f0 !important;
  //   outline: solid #f00 1px !important;
  // }

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

// $accent-color: #E5AD1C;
// $accent-color: #FDC151;
$accent-color: #f89339;
// $link-color: #D3232E;
// $link-color: #cf0c00;
// $link-color: #df2413;
$link-color: #4e75df; 
$box-color: #2e2c27;
// $box-color: #6BCff6;
$alt-color: #003b49;
$alt-color-2: #5c746c;
$lightbox-color: rgba(30, 30, 30, .8);
$faded-accent: rgba(229, 173, 28, .7);
$carousel-link: #9fbfc7;
$mynewcolor: #df2413;

// Styling for header

.header {
 background-color: $accent-color;
//  min-width: 100%;
 width: 100%;
 margin-right: 0;
//  border-bottom: solid;
//  border: solid $link-color;
}

.header a {
  color: black;
}

// Responsiveness and sizing

body, html {
  height: 100%;
  width: 100%;
  margin-right: 0;
}

.bio-img {
  max-width: 15rem;
  padding: 1rem;
}

hr {
  padding: 1rem;
}

// LOOK HERE TK

// smallest device is default
// main {
//   width: 345px; // for 360px Samsung Galaxy 8+
// }
// @media screen and (min-width: 576px) {
//   main {
//       width: 520px;
//   }
// }
// @media screen and (min-width: 768px) {
//   main {
//       width: 650px;
//   }
// }
// @media screen and (min-width: 992px) {
//   main {
//       width: 950px;
//   }
// }
// @media screen and (min-width: 1200px) {
//   main {
//       width: 1150px;
//   }
// }
// @media screen and (min-width: 1400px) {
//   main {
//     width: auto;
//   }
// }

main {
  width: 100%;
}

@media screen and (min-width: 992px) {
  figure {
    max-width: none;
  }
}

@media screen and (max-width: 992px) {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Text, fonts, headers

body {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  // font-family: "Marcellus";
  // font-family: "Schibsted Grotesk", sans-serif;
	font-weight: 300;
  font-size: 16pt;
	line-height: 1.75;
  margin: 0;
  // padding: 0;
  color: #000000;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

// a:focus {
//   color: $link-color;
//   text-decoration: underline;
// }

@media screen and (max-width: 1200px) {
  body, blockquote p, blockquote li {
    font-size: 12pt;
  }
}

h1 {
  font-weight: 600;
  line-height: 2;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 1.75em;
    line-height: 1.2;
  }
}

h2 {
    font-weight: 800;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
    // text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 820px) {
h2 {
    font-size: 1.5em;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $alt-color-2;
}

.no-decoration-link {
  color: black;
  text-decoration: none;
}

main a {
  text-decoration: underline;
}

.footnote-link {
  text-decoration: none;
}

main p {
  text-align: justify;
  text-justify: inter-word;
}

main h3 {
  font-weight: bold;
}

b, strong {
  font-weight: bold;
}

.btn-primary {
  background-color: $alt-color;
  border-color: $alt-color;
}

// Navbar

.navbar {
  width: 100%;
  margin-right: 0;
  // border-top: $link-color solid 1.5rem;
  // border-bottom: $link-color solid 1.5rem;
}

.navbar.navbar-expand-lg {
  padding: 2em;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.navbar-brand-secondary {
  text-transform: uppercase;
  letter-spacing: 1px;
}

a:hover .navbar-brand-secondary {
  color: black;
}

@media (max-width: 450px) {
  .navbar-brand {
    font-size: 1rem;
    letter-spacing: 1.8px;
  }
}

#navbarSupportedContent {
  flex-grow: 0;
}

#navbarSupportedContent > ul {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  gap: 1em;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: $alt-color-2;
}

// Use code below to change the color of the toggler that displays the navbar on a small screen

// .navbar-toggler, .navbar-toggler-icon {
//   background-color: $link-color !important;
// }

// Scroll formatting

main {position: relative;} /* to place scrollbar */

.scroll-top {
  position: absolute; /* relative to its positioned <main> parent */
  top: 120vh; /* starts below the bottom of the screen */
  bottom: 3rem; /* stops scrolling before the end */
  right: 2rem; /* offset from right hand side */
}

.scroll-top__link {
  position: -webkit-sticky; /* for Safari */
  position: sticky; /* 'relative' until element reaches... */
  top: 90vh; /* 90% viewport height from the top, when it becomes 'fixed' - until its container toggles it back to 'relative' */
}

.scroll-top__link > span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  background-color: $accent-color;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius: 60px;
  text-align: center;
  color: $alt-color;
}


.scroll-top svg {
  display: block;
  fill: $alt-color;
  height: 24px;
  margin: 16px auto 0;
  width: 24px;
}

.scroll-top path {
  stroke: #ffffff;
  stroke-width: 2px;
}

// Footer formatting

#footer {
  border-top: 2px solid;
  padding: 2em;
  margin: 0em 0 2em;
  clear: both;
}
// #footer a {
//   color: $link-color;
// }

#footer .icon {
  color: $alt-color;
}

#footer > .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 90em;
  padding: 0 2.5em;
  margin: 0 auto;
}

#footer > .wrapper section:nth-child(1) {
    width: calc(66% - 5em);
    margin-right: 2.5em;
    margin-left: 2.5em;
}

@media screen and (max-width: 736px) {
  #footer > .wrapper section:nth-child(1) {
    width: 100%;
    margin: 3em 0 0 0;
  }
}

#footer > .wrapper section:nth-child(2) {
    width: calc(33% - 2.5em);
    margin-left: 2.5em;
}

@media screen and (max-width: 736px) {
  #footer > .wrapper section:nth-child(2) {
    order: -1;
    width: 100%;
    margin-left: 0;
  }
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: -1em 0 2em -1em;
}

ul.icons li {
    display: inline-block;
    padding: 1em 0 0 1em;
}

.fab {
  font-weight: 400;
}

.fa-3x {
  font-size: 3em;
}

// Table formatting

tr:nth-child(even) {
  background-color: #D6EEEE;
}

td {
  padding: 0 1rem;
}

// Parallax images

.parallax {
  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax-text {
  display: block;
  padding: 50% 5% 5% 5%;
}

.parallax-text > h1 {
  color: white;
  text-shadow: 2px 2px 8px black;
}

.parallax-caption {
  background-color: $accent-color;
  padding: 1rem;
}

// Carousel formatting

.carousel-caption {
  background: $lightbox-color;
  border: 1px none black;
  border-radius: 5px;
  padding: 1em;
  // font-style: smaller;
}

// .carousel-caption p {
//   text-align: center;
// }

.carousel-caption a {
  color: $carousel-link;
}

// .carousel-item img {
//   max-height: 100%;
//   width: auto;
// }

.carousel-control-next, .carousel-control-prev {
  background-color: $alt-color;
}

.carousel-item {
  transition: transform 2s ease-in-out;
}

.carousel-indicators {
  background-color: $alt-color;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
}

.carousel-inner {
  border-top: 25px;
  border-left: 25px;
  border-right: 25px;
  border-bottom: 25px;
  border-color: $alt-color;
  border-style: solid;
  // background-color: $accent-color;
}

// Figure formatting

figure {
  display: inline-block;
  position: relative;
  padding: 1em;
  // margin-left: auto;
  // margin-right: auto;
}

figure img {
  vertical-align: top;
}

main {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  main {
    padding: 2em;
  }
}

main {
  max-width: 80em;
}

main > p {
  text-align: justify
}

.box-wrapper {
  display: flex;
  padding: 2em;
}

.box {
  color: $box-color;
  border-radius: 0.5em;
  border: 0;
  box-shadow: inset 0 0 0 2px #585858;
  display: inline-block;
  text-align: center;
  padding: 0 1.25em 0 1.6em;
  margin-left: auto;
  margin-right: auto;
}

.box > a {
  color: $box-color;
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 414px) {
  .box > a {
    font-size: inherit;
  }
}

// Nav-card formatting

.nav-cards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  // max-width: 100%;
}

.nav-cards a, .nav-cards-stacked a {
  text-decoration: none;
}

.nav-card-square {
  margin: 1rem;
  height: 18rem;
  width: 18rem;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.nav-card-full-width {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 24rem;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card-text {
  // position: absolute;
  // bottom: 0;
  // justify-content: flex-end;
  color: $box-color;
  background-color: $accent-color;
  text-align: center;
  // text-decoration: none!important;
  font-size: 16pt;
  font-weight: 550;
  padding: 1rem;
}

.card-text.accent {
  background-color: $link-color;
}

@media (max-width: 450px) {
  .nav-cards {
    width: 100%;
  }
  .nav-card-square {
    width: 16rem;
    height: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

// Formatting for modal images

/* Style the Image Used to Trigger the Modal */
.modalImg {
  // border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

figure .modalImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  // width: 80%;
  // max-width: 700px;
  max-width: 80%;
  // max-height: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    max-width: 100%;
  }
}

// Lightbox styling

.lightbox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lightbox figcaption {
  color: white;
  font-size: 16px;
  font-weight: initial;
  text-align: center;
}

.left-box {
  float: left;
  width: min-content;
}

.right-box {
  float: right;
  width: min-content;
}

.cssbox figcaption {
  font-size: 16px;
}
.cssbox figcaption > a {
  text-decoration: none;
}

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
div.cssbox {
  display: inline-block;
}

span.cssbox_full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}
  
span.cssbox_full figure {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}
  
a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}
  
a.cssbox_close {
  top: 1%;
  right: 1%
}
  
a.cssbox_close::after {
  content: '\00d7';
}
  
a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}
  
a.cssbox_prev {
  left: 5%;
}
  
a.cssbox_next {
  right: 5%;
}
  
a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}
  
a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
/* This is the end of CSSBox */

// Styling for TOC

.view-all-notebooks, .view-all-notebooks-container {
  width: 50rem;
  height: 15rem;
  margin: auto;
  // margin-top: 3rem;
  // margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.view-all-notebooks-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.view-all-notebooks {
  // width: 50rem;
  // height: 15rem;
  // margin: auto;
  // margin-top: 3rem;
  // margin-bottom: 3rem;
  // text-align: center;
  text-transform: uppercase;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: black;
  // opacity: .5;
  background-blend-mode: darken;
  // background-size: 100% auto;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1rem;
  // background-color: black;
  filter: brightness(85%);
}

// .view-all-notebooks h2 {
//   flex: auto;
//   justify-content: center;
//   align-items: center;
// }

@media screen and (max-width: 50rem) {
  .view-all-notebooks, .view-all-notebooks-container {
    width: 100%;
  }
}

.toc-buttons {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  // margin: 1rem;
}

.button-left {
  margin-right: auto;
  margin-bottom: 1rem;
  color: black;
  // padding-bottom: .75rem;
}

.button-right {
  margin-left: auto;
  margin-bottom: 1rem;
  // padding-bottom: .75rem;
}

// .toc-buttons .btn-outline-primary {
//   border-color: red !important;
// }

// .toc-buttons .btn-outline-primary:active {
//   // color: purple !important;
//   background-color: yellow !important;
//   // bs-btn-active-bgs: orange !important;
//   // fill: red !important;
// }

// .toc-buttons .btn-outline-primary:focus {
//   background-color: yellow !important;
// }

// .btn.btn-success:not(:disabled):not(.disabled):active,
// .btn.btn-success:not(:disabled):not(.disabled).active {
//   background-color: yellow !important;
// }

// .btn-primary {
//   background-color: #565474 !important;
//   // background: purple !important;
// }

// .btn-check:checked {
//   background-color: yellow !important;
// }

// Styling for Insights

// .read-more {
//   text-transform: uppercase;
// }

.longform-text {
  max-width: 55rem;
}

.attribution {
  text-transform: uppercase;
}

// Styling for video displays

.video-embed {
  display: flex;
  flex-direction: column;
  align-items: start;
  // flex-wrap: wrap;
}

.videoPlayerColumn {
  // flex: 30;
  width: 100%;
  margin-right: 1.5rem;
}

.video-sized {
  width: 100%;
  max-width: 600px;
  height: auto;
}

// .videoDescriptionColumn {
//   flex: 70;
// }

.video-title {
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.nav-pills a.nav-link:hover {
  color: $alt-color-2 !important;
  // background-color: purple !important;
}

.nav-pills .nav-link.active {
  // color: red !important;
  background-color: $alt-color-2 !important;
}

.nav-pills .nav-link.active:hover {
  // color: red !important;
  color: black !important;
}

// Experimental styling for video display

.embedded-video {
  float: left;
}

.floated-figure {
  float: right;
  max-width: 250px;
  margin-left: 5em;
  margin-right: 5em;
}

// Image gallery

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail img {
  max-height: 8rem;
  width: auto;
  margin: 1rem;
  opacity: 0.8;
  cursor: pointer;
}

.thumbnail img:hover {
  opacity: 1;
}

@media (max-width: 450px) {
  .thumbnail img {
    max-height: 5rem;
  }
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.photo-gallery .photo-expanded {
  position: relative;
  display: block;
  margin-top: 2rem;
}

.photo-gallery .photo-expanded img {
  max-height: 50rem;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}