---
layout: default
---
<h2>{{ page.date | date_to_string }}</h2>
<h1>{{ page.title }}</h1>

<!-- {% if page.author %}
    {% assign author = site.authors | where: "name", page.author | first %}
    {% if author %}
        <h2>By <a href="{{ author.url | relative_url}}">{{ author.name }}</a></h2>
    {% else %}
        <h2>By {{ page.author }}</h2>
    {% endif %}
{% endif %} -->

<div class="longform-text">
    {{ content }}

    <!-- {% if page.author %}
        {% assign author = site.authors | where: "name", page.author | first %}
        {% if author %}
            {% include about-author.html 
                author = page.author %}
            {% endif %}
    {% endif %} -->

    {% if page.authors %}
        {% assign allAuthors = "" | split: ',' %}
        {% for authorStr in page.authors %}
                {% assign authorObj = site.authors | where: "name", authorStr | first %}
                {% assign allAuthors = allAuthors | push: authorObj %}
        {% endfor %}

        {% include about-author-multiple.html %}

    {% endif %}
</div> 